/*

This CSS file will be included with your plugin, and
available in the app when your plugin is enabled.

If your plugin does not need CSS, delete this file.

*/

.d-flex {
  display: flex;
}

.flex-col {
  display: flex;
  flex-direction: column;
}

.w-full {
  width: 100%;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.h-full {
  height: 100%;
}

.gap-16 {
  gap: 16px;
}
